---
import Layout from "../layouts/Layout.astro";
import oneMushroom from "../images/oneMushroom.svg";
import twoMushrooms from "../images/twoMushrooms.svg";
import dandelionSeeds from "../images/dandelionSeeds.svg";
import headline from "../images/headline.svg";
import HighLevel from "./high-level.md";
import AboutSdk from "./about-sdk.md";
import AboutCli from "./about-cli.md";
import AboutDeploy from "./about-deploy.md";
import AboutFrontend from "./about-frontend.md";
import logo from "../images/LogoWDropShadow.svg";
import github from "../images/github.svg";
---

<Layout title="Loam | Grow Ambitious Dapps">
  <main>
    <div class="banner">
      <nav>
        <a href="https://github.com/loambuild">
          <img src={github} alt="GitHub" />
        </a>
      </nav>
      <div class="container">
        <h1>
          <img src={logo} alt="LOAM" />
        </h1>
        <h2>
          <img src={headline} alt="Loam helps you grow ambitious dapps." />
        </h2>
        <div class="intro">
          <div>
            <p>
              Focus on the important parts of your <a
                href="https://soroban.stellar.org/">Soroban</a
              > app. Let Loam handle the tedious bits.
            </p>
            <p>
              Made by <a href="https://ahalabs.dev" rel="noopener noreferrer"
                >Aha Labs</a
              >.
            </p>
          </div>
          <img src={twoMushrooms} alt="" />
        </div>
      </div>
      <div class="cta">
        <a href="https://github.com/loambuild/loam-sdk" class="button"
          >Get Started</a
        >
      </div>
    </div>
    <section>
      <div class="container">
        <div class="columns">
          <img src={oneMushroom} alt="" />
          <div>
            <HighLevel />
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="columns">
          <AboutSdk />
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="columns">
          <AboutCli />
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="columns">
          <img src={dandelionSeeds} alt="" />
          <div>
            <AboutDeploy />
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="columns">
          <AboutFrontend />
        </div>
      </div>
    </section>
  </main>
</Layout>

<style>
  nav {
    display: flex;
    justify-content: flex-end;
    overflow: visible;
    padding: 1em;
    position: absolute;
    right: 0;
    top: 0;
  }
  nav img {
    height: 1em;
  }
  nav a {
    opacity: 0.4;
    margin-left: 0.75em;
    border-bottom: 1px solid transparent;
  }
  .banner {
    background-image: url(../images/mycelium.png);
    background-size: calc(max(100%, 1920px)) 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
  }
  .banner > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: auto;
    padding: 0 1.25rem;
    max-width: 75ch;
  }
  .banner > .container > h1,
  .banner > .container > h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    justify-content: flex-end;
  }

  h1 {
    height: 12%;
  }
  h1 img {
    height: 75%;
  }

  h2 {
    height: 33%;
    font-size: 3em;
    text-align: center;
    max-width: 10em;
    max-width: 100%;
  }
  h2 img {
    height: 75%;
    width: 100%;
  }

  .intro {
    display: flex;
    height: 55%;
    color: var(--yellow);
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
  }
  .intro img {
    width: 25%;
  }
  .intro > div {
    width: 62%;
  }
  .intro > div p {
    max-width: 18em;
  }
  .intro > div p:first-child {
    margin-top: 4rem;
  }
  .cta {
    bottom: 6em;
    position: absolute;
    text-align: center;
    width: 100%;
  }
  @media (min-width: 550px) {
    .cta {
      bottom: 2em;
    }
  }
  main > section:first-of-type {
    margin-top: 100vh;
  }
  main > section:nth-child(2n) {
    --bg: var(--black);
    --fg: var(--white);
    --heading: var(--yellow);
    --link: var(--light-green);
  }
  main > section:nth-child(2n + 1) {
    --bg: var(--lavendar);
    --fg: var(--black);
    --heading: var(--dark-green);
    --link: var(--maroon);
  }
  main > section {
    position: relative;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    padding-bottom: 3rem;
    background: var(--bg);
    color: var(--fg);
  }
  main > section a {
    color: var(--link);
  }
  main > section h1,
  main > section h2 {
    color: var(--heading);
  }
  main > section:last-child:after {
    content: "";
    display: table;
    clear: both;
    display: absolute;
    top: 100%;
    height: 50em;
    background: var(--bg);
  }
</style>
