---
export interface Props {
  title: string;
}
import logo from "../images/LogoWDropShadow.svg";
import github from "../images/github.svg";
import discord from "../images/discord.svg";
import twitter from "../images/twitter.svg";

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <nav>
      <a href="https://github.com/loambuild">
        <img src={github} alt="GitHub" />
      </a>
      <a href="https://discord.gg/ffAZu9S4yv">
        <img src={discord} alt="Discord" />
      </a>
      <a href="https://twitter.com/raendev">
        <img src={twitter} alt="Twitter" />
      </a>
    </nav>
    <h1>
      <img src={logo} alt="LOAM" />
    </h1>
    <slot />
  </body>
</html>
<style is:global>
  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
  :root {
    --yellow: rgb(224, 189, 63);
    --shadow: rgba(66, 82, 57, 0.29);
    --gray: rgb(162, 157, 173);
  }
  html {
    color: var(--yellow);
    font-size: 16px;
    font-family: Quicksand, system-ui, sans-serif;
    background-color: rgb(37, 44, 31);
    background-image: url(../images/mycelium.png);
    background-size: calc(max(100%, 1920px)) 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  a {
    color: var(--gray);
    text-decoration: none;
  }
  a:focus,
  a:hover {
       border-bottom: 1px solid var(--yellow);
  }
  @media (min-width: 420px) {
    html {
      font-size: 18px;
    }
  }
  body {
    margin: 0;
  }
  nav {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    overflow: visible;
  }
  nav img {
    height: 1em;
  }
  nav a {
    opacity: 0.4;
    margin-left: 0.75em;
    border-bottom: 1px solid transparent;
  }
  h1 {
    --height: 3.25rem;
    margin: 0;
    padding: 0 1.25rem;
    text-align: center;
  }
  h1 img {
    height: var(--height);
  }
  @media(min-width: 420px) {
    h1 {
      --height: 3.75rem;
    }
  }
  @media(min-width: 580px) {
    h1 {
      margin-top: calc(-0.5 * var(--height));
    }
  }
  @media(min-width: 800px) {
    h1 {
      --height: 4.5rem;
    }
  }
</style>
